<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <a class="navbar-brand" routerLink="/">Quotes Central</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
        <a routerLink="/quotes" class="nav-link">Quotes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/quotes/new" class="nav-link">Submit new quote</a>
      </li>
    </ul>
  </div>
</nav>

