<div class="row mt-2">
  <div class="col">
    <h1><i>Quote</i></h1>
    <div *ngFor="let quote of quotes" class="card-body mt-3" style="border: 1px solid black">
      <p>{{ quote.author }}</p>
      <p>{{ quote.category}}</p>
      <p><strong>{{ quote.quote}}</strong></p>
      <button class="btn btn-warning" routerLink="/id/edit" (click)="editPost(quote.id)">Edit</button>&nbsp;
      <button class="btn btn-primary" (click)="deleteQuote(quote.id)">Delete</button>
    </div>
  </div>
</div>
