<div class="row mt-2">
  <div class="col" *ngIf="quote">
    <h4>Post details</h4>
    <p>Date:<strong>{{quote.author}}</strong></p>
    <h5>Title:{{quote.category}}</h5>
    <h5>Description:{{quote.quote}}</h5>
    <hr/>
    <p>Manage Quote:</p>
    <button class="btn btn-secondary">Edit</button>&nbsp;
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
