<div class="row mt-2">
  <div class="col">
    <h4>Quotes: </h4>
    <div class="list-group">
      <a *ngFor="let quote of this.quotesPlatform; let i= index"
        class="list-group-item list-group-item-action"
        [routerLink] = "['/quotes',quote]"
        routerLinkActive="active"
      >  {{ quote }}  </a>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
