<div class="mt-2">
  <div class="col-6">
    <h4>Add new Quotes</h4>

    <form (ngSubmit)="sendPost()">
      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          [(ngModel)]="author"
          name="author"
          id="author"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="quote">Quote text</label>
        <textarea
          name="quote"
          [(ngModel)]="quote"
          id="quote"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="category">Choose a category: </label>
        <select name="category" id="category" [(ngModel)]="category">
          <option value="Star Wars">star-wars</option>
          <option value="Famous people">famous-people</option>
          <option value="Saying">saying</option>
          <option value="Humour">humour</option>
          <option value="Motivational">motivational</option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-warning"
      >Create
      </button>
    </form>
  </div>
</div>

